<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saif.broadcastreciever">
    <permission android:name="my.own.permission"
        android:protectionLevel="signature">

    </permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".DynamictBCRActivity">

        </activity>
        <activity android:name=".StickyBroadcastActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".MyFristReciever">
            <intent-filter android:priority="1">
               <!-- <action android:name="my.first.receiver" />-->
                <action android:name="my.own.receiver" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MySecondReceiver">
            <intent-filter android:priority="10">
                <!--<action android:name="my.first.receiver" />-->

                <!--Action for receiving BC when Ariplane Mode is changed-->
                <!--<action android:name="android.intent.action.AIRPLANE_MODE" />-->

                <action android:name="my.own.receiver" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MainActivity$ThirdReceiver">
            <intent-filter android:priority="5">
                <!--<action android:name="my.third.receiver" />-->
                <action android:name="my.own.receiver" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MyFourthReceiver">
            <intent-filter >
                <!--<action android:name="my.third.receiver" />-->
                <action android:name="my.own.receiver" />
            </intent-filter>
        </receiver>
    </application>

</manifest>